<div>
  <p>Parede <%= (index + 1) %></p>
  <div>
    <label
      >Altura
      <input id="wall-height-<%= index %>" type="number" />
    </label>
  </div>
  <div>
    <label
      >Largura
      <input id="wall-width-<%= index %>" type="number" />
    </label>
  </div>
  <div>
    <label
      >Quantidade de portas
      <input id="doors-count-<%= index %>" type="number" />
    </label>
  </div>
  <div>
    <label
      >Quantidade de janelas
      <input id="windows-count-<%= index %>" type="number" />
    </label>
  </div>
</div>
